@import url('https://fonts.googleapis.com/css2?family=Stick&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.background-main {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url('/images/background.jpg');
  background-position: center;
  background-size: cover; /* Use cover to maintain aspect ratio */
  background-repeat: no-repeat; /* Ensure no repeat */
}

.show-about{
  opacity: 0;
  position: absolute;
  scale:calc(-20px);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-none{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.show-abouts::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

.border-r-arrow, .cursor-pointer{
  position: relative;
}

.border-r-arrow::before,  .cursor-pointer::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -14px; /* Adjust to position the circle */
  width: 30px; /* Width of the circle */
  height: 30px; /* Height of the circle */
  border: 2px solid #e2e8f0; /* Border of the circle */
  border-radius: 50%; /* Make it a circle */
  background-color: white; /* Background color of the circle */
  z-index: 10; /* Ensure it appears above other elements */
}

.separator {
  width: 2px; /* Adjust width as needed */
  height: 100%; /* Full height of the container */
  background-color: black; /* Color of the line */
  margin: 0 1rem; /* Space around the line */
}


.slider-arrow{
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 0.5s ease;
  z-index: 50;
}

.cursor, .cursor-pointer{
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 1s ease;
  z-index: 50;
}

.cursor-follower, .cursor-pointer{
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 0.5s ease;
  z-index: 50;
}

.swiper-scrollbar {
  position: absolute;
  left: 0; /* Position scrollbar on the left */
  width: 8px; /* Adjust the width as needed */
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.swiper-scrollbar-drag {
  background: #000;
}

.arrows-right {
  position: relative; /* Ensure the element is positioned relatively for left/top properties to work */
  animation-name: arrows-animation;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-out;
}

@keyframes arrows-animation {
  0% { left: 0px; top: 0px; }
  100% { left: 30px; top: 0px; opacity:0;}
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Kurenaido", sans-serif ;
  font-style: normal;
}

.text-container {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  margin: 0px 0px 0px 150px;
  background-color: white;
  color:black;
  padding: 4px 40px;
  display: flex;
  align-items: center;
}

.text-container h1 {
  font-size: 1.8rem;
  font-weight:bolder;
  margin-right: 10px;
  letter-spacing: 8px;
}

.text-container span {
  letter-spacing: 4px;
}

.judul {
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto;
  background-color: white;
  color:black;
  padding: 4px 8px;
}

.judul h1 {
  font-size: 1.8rem;
  font-weight:bolder;
  letter-spacing: 8px;
}

.judul span {
  letter-spacing: 4px;
}

/* globals.css */
.text-container h1, .text-container span {
  transition: transform 1s ease, opacity 1s ease;
}

.text-container:hover h1, .text-container:hover span {
  transform: translateX(20px);
  opacity: 0.8;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.word-tittle {
  transform: rotate(180deg);
  writing-mode:vertical-lr;
  writing-mode: vertical-lr;
  text-align: center;
}

:root {
  --foreground-rgb: #0D0D0D;
  touch-action: pan-x pan-y;
  height: 100% 
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #0D0D0D;
  }
}

body {
  color: black;
  background: white;
  cursor: none; /* Hide the default cursor */
  overflow: hidden;

}

h1{
  font-size: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css */
.honeycomb {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.hexagon {
  width: 100px;
  height: 100px;
  background: red;
  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );
}
